header{

  background-color: #be6ea4
 
}
h1{
  background-color: rgb(29, 214, 153);
  display: inline;
  height: 50px;
  
}

p{
background-color: white;
margin: 20px 53px 40px 70px;

}
body{

  background-color: hsl(34, 96%, 90%);

}